.main {
  position: relative;
}

.navbar .nav-link {
  color: var(--color-black-200) !important;
}

.heroContainer {
  min-height: 100vh;
  background-image: url(../assets/images/service-bg.png);
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.heroImg {
  width: 100%;
}

.heroImg img {
  width: 100%;
  object-fit: cover;
}

.sectionHeader {
  color: var(--color-lighter-black);
}

.main .roundedSquare {
  width: 1500px;
  height: 1100px;
  left: -830px;
  top: -120px;
  transform: rotate(135deg);
}

.roundedSquare {
  height: 300px;
  width: 300px;
  background: var(--color-primary-400);
  position: absolute;
  border-radius: 100px;
  z-index: 9;
  box-shadow: 0px 0px 88px rgba(0, 0, 0, 0.2);
}

.circlePatternContainer {
  position: absolute;
}

.circlePatternContainer img {
  max-width: 100px;
}

.rectangle111 {
  position: absolute;
  width: 1000px;
  height: 1000px;
  top: 200px;
  right: -700px;
  background: rgba(249, 98, 9, 0.05);
  border-radius: 139px;
  transform: rotate(135deg);
}

.benefitsList img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

#hero .swiper-container {
  max-width: 650px;
  min-height: 330px;
}

#hero .socials .socialText {
  position: absolute;
  transform: rotate(90deg);
  margin: 0;
  top: -55px;
  left: -79px;
  width: 180px;
}

#hero .slideContent {
  max-width: 650px;
}

#hero .swiper-pagination {
  text-align: left;
}

#hero .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

#hero .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-primary-400);
}

#hero {
  min-height: 100vh;
  padding-bottom: 3.75rem;
  padding-top: 4.5rem;
  position: relative;
  z-index: 9;
}

#hero .heroText {
  color: var(--color-white);
  font-weight: 500;
  max-width: 600px;
}

#hero .socials {
  position: absolute;
  right: 0;
  bottom: 45%;
  transform: translateY(50%);
}

#hero .socials .socialsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

#news {
  padding-bottom: 0px;
  box-shadow: 0px 3px 8px #fff;
  z-index: 8;
  position: relative;
  padding-top: 0;
}

#news .subcribe {
  height: 400px;
  width: 100%;
  background-color: var(--color-primary-400);
  display: flex;
}

.bc1 {
  background-image: url(../assets/images/bc1.png);
  background-repeat: no-repeat;
  background-position: left;
}

.bc2 {
  background-image: url(../assets/images/bc2.png);
  background-repeat: no-repeat;
  background-position: center right;
}

#news .subcribe h4 {
  padding-top: 40px;
  font-size: 35px;
}

#news .subcribe p {
  padding-top: 20px;
  width: 80%;
}

#news .subcribe .subcribe-input {
  display: block;
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: var(--color-white);
  color: var(--color-lighter-black);
}

#news .subcribe .subcribe-checkbox {
  margin: 10px 10px;
}

#news .subcribe-button {
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

#news .subcribe-button:hover {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  width: 150px;
  height: 40px;
  color: var(--color-lighter-black);
}

@media (max-width: 992px) {
  html {
    font-size: 85%;
  }

  #hero .socials .socialText {
    top: -35px;
  }

  #hero .socials {
    right: -25px;
  }
}

@media (max-width: 767px) {
  .keyBenefit .imgContainer.phone img {
    max-width: 300px;
  }

  #hero {
    padding-top: 8rem;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 80%;
  }

  .main .roundedSquare {
    width: 800px;
    height: 500px;
    left: -200px;
    top: -70px;
    transform: rotate(135deg);
  }
}

.card-berita{
  cursor: pointer;
  transition: 0.2s;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}
.card-berita:hover{
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-berita img{
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}
.card-berita h1{
  font-size: 24px;
  margin-top: 10px;
}
.card-berita p{
  font-size: 14px;
}
.card-berita{
}