.main {
  position: relative;
}

.navbar .nav-link {
  color: var(--color-black-200) !important;
}

.heroContainer {
  min-height: 100vh;
  background-image: url(../assets/images/service-bg.png);
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.heroImg {
  width: 100%;
}

.heroImg img {
  width: 100%;
  object-fit: cover;
}

.sectionHeader {
  color: var(--color-lighter-black);
}

.main .roundedSquare {
  width: 1500px;
  height: 1100px;
  left: -830px;
  top: -120px;
  transform: rotate(135deg);
}

.roundedSquare {
  height: 300px;
  width: 300px;
  background: var(--color-primary-400);
  position: absolute;
  border-radius: 100px;
  z-index: 9;
  box-shadow: 0px 0px 88px rgba(0, 0, 0, 0.2);
}

.circlePatternContainer {
  position: absolute;
}

.circlePatternContainer img {
  max-width: 100px;
}

#otherServices .circlePatternContainer.first {
  left: 80px;
  top: 0;
}

#otherServices .circlePatternContainer.second {
  left: 350px;
}

#otherServices .circlePatternContainer.third {
  right: 150px;
  bottom: -100px;
}

#otherServices .circlePatternContainer.fourth {
  bottom: 0;
  left: 500px;
}

.rectangle111 {
  position: absolute;
  width: 1000px;
  height: 1000px;
  top: 200px;
  right: -700px;
  background: rgba(249, 98, 9, 0.05);
  border-radius: 139px;
  transform: rotate(135deg);
}

.benefitsList img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

#hero .swiper-container {
  max-width: 650px;
  min-height: 330px;
}

#hero .socials .socialText {
  position: absolute;
  transform: rotate(90deg);
  margin: 0;
  top: -55px;
  left: -79px;
  width: 180px;
}

#hero .slideContent {
  max-width: 650px;
}

#hero .swiper-pagination {
  text-align: left;
}

#hero .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

#hero .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-primary-400);
}

#hero {
  min-height: 100vh;
  padding-bottom: 3.75rem;
  padding-top: 4.5rem;
  position: relative;
  z-index: 9;
}

#hero .heroText {
  color: var(--color-white);
  font-weight: 500;
  max-width: 600px;
}

#hero .socials {
  position: absolute;
  right: 0;
  bottom: 45%;
  transform: translateY(50%);
}

#hero .socials .socialsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.formContainer {
  max-width: 350px;
  background-color: var(--color-white);
  border-radius: 1.25rem;
  filter: drop-shadow(0px 0px 100px rgba(56, 54, 55, 0.2));
}

.formHeader p {
  font-weight: 600;
  font-size: var(--font-size-md);
}

.formContainer input {
  background-color: var(--color-white-100);
  border: none !important;
  font-size: var(--font-size-sm);
}

.accordion .accordion-button {
  transition: all 0.2s;
}

.accordion .accordion-button:not(.collapsed) {
  color: var(--color-primary-200);
  background-color: rgba(249, 98, 9, 0.05);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  font-weight: 600;
}

.accordion .accordion-button::after {
  filter: invert(62%) sepia(58%) saturate(4652%) hue-rotate(5deg)
    brightness(108%) contrast(95%);
}

.accordion .imgContainer {
  border-radius: 10px;
  overflow: hidden;
}

.accordion .imgContainer img {
  max-height: 350px;
  width: 100%;
  object-fit: cover;
}

.serviceWrapper {
  position: relative;
  z-index: 16;
}

.serviceContainer {
  position: relative;
  z-index: 9;
}

.serviceContainer p {
  color: var(--color-grey-400);
}

.serviceContainer .imgContainer {
  border-radius: 10px;
  overflow: hidden;
}

.serviceContainer .imgContainer img {
  max-height: 350px;
  width: 100%;
  object-fit: cover;
}

#otherServices {
  position: relative;
  z-index: 15;
}

#otherServices .servicesContainer .services-swiper-container {
  overflow: hidden;
  padding: 30px;
}

#otherServices .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -30px;
}

#otherServices .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -30px;
}

#otherServices .swiper-button-next,
#otherServices .swiper-button-prev {
  color: var(--color-primary-200);
}

#otherServices .container {
  position: relative;
  z-index: 1;
}

#otherServices .servicesContainer {
  position: relative;
  z-index: 1;
}

#otherServices .cardContainer {
  background-color: var(--color-white);
  border-radius: 1.25rem;
  min-height: 210px;
  height: 100%;
  box-shadow: 0px 0px 25px rgba(56, 54, 55, 0.25);
}

#otherServices .cardContainer .iconHeader {
  color: var(--color-black-100);
}

#otherServices .cardContainer {
  transition: all 0.2s;
  cursor: pointer;
}

#otherServices .cardContainer.active {
  box-shadow: 0px 0px 50px rgb(249 98 9 / 25%);
}

#otherServices .cardContainer:hover {
  border-color: #f96209;
  box-shadow: 0px 0px 50px rgba(249, 98, 9, 0.25);
  transform: translateY(-10px);
}

#otherServices .cardContainer .buttonOutline {
  width: 50px;
  height: 50px;
  background-color: var(--color-primary-600);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 39px 0px #eeaf62;
}

#otherServices .cardContainer .buttonOutline .circleButton {
  width: 30px;
  height: 30px;
  background-color: var(--color-primary-200);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color-white);
  font-size: var(--font-size-md-2);
}

@media (max-width: 992px) {
  html {
    font-size: 85%;
  }

  #hero .socials .socialText {
    top: -35px;
  }

  #hero .socials {
    right: -25px;
  }
}

@media (max-width: 767px) {
  .keyBenefit .imgContainer.phone img {
    max-width: 300px;
  }

  #hero {
    padding-top: 8rem;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 80%;
  }

  .main .roundedSquare {
    width: 800px;
    height: 500px;
    left: -200px;
    top: -70px;
    transform: rotate(135deg);
  }
}
